@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: none;
}

body {
  background: transparent;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-window {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.chat-bubble {
  background-color: #f1f1f1;
  padding: 16px 28px;
  -webkit-border-t-radius: 10px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-t-radius: 10px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #2E364F;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #2E364F;
  }
  28% {
    transform: translateY(-7px);
    background-color: #2E364F;
  }
  44% {
    transform: translateY(0px);
    background-color: #2E364F;
  }
}

.my-config {
  --darkmode: 0;
  --h-accent: 30;
  --s-accent: 100%;
  --l-accent: 50%;
}


.parsed-container img {
  width: 100% !important;
  border-radius: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.custom-glow:hover {
  filter: drop-shadow(0px 0px 5px rgba(5, 228, 221, 0.03));
}

@keyframes step-spin {

  0%, 20% { transform: rotate(-45deg);  }

}
.click-effect {
  transform: translateY(-4px);
  transition: transform 400ms ease;
color:azure;
  background-color: yellow;

}
.hovered-link:hover + .hovered-link {
  color: #555d50;
}


@keyframes onAutoFillStart { from {} to {} }
@keyframes onAutoFillCancel { from {} to {} }


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff  inset !important;
  caret-color: rgb(4, 79, 241) !important;
  color: white !important;
  background: #ffffff !important;
   animation-name: onAutoFillStart;
  animation-duration: 1s;
}


.otp-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.otp-slot {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #bfafb2;
  border-radius: 0.5rem;
  line-height: 3rem;
  background-color: #eee8e8;
  color: #015157;
  transition: background-color 0.3s, border-color 0.3s;
}

.otp-slot:focus {
  /* border-color: #297ed9; */
  background-color: #1d81a2;
  color: #0e2094;
  outline: none;
}

/* input:-moz-ui-autofill,
input:-moz-ui-autofill:hover,
input:-moz-ui-autofill:focus,
input:-moz-ui-autofill:active {
  background: #ffffff !important;
  color: rgb(0, 0, 0) !important;

   animation-name: onAutoFillStart;
  animation-duration: 1s;
} */


/* input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
  animation-duration: 1s;
    caret-color: rgb(255, 255, 255) !important;

  color: rgb(0, 0, 0) !important;
    background: #ffffff !important;
} */


.continuous-step-spin {
  animation: step-spin 0.4s ;

}
.fade-effect {
  transition: opacity 3s ease-out;
  opacity: 0;
}


/* @keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
} */

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;

  background-color: rgba(29, 247, 131, 0.2);
  scale: 0.9 !important
}

.swiper-pagination-bullet-active {
  color: rgb(108, 141, 104) ;
  background-color: rgb(156, 201, 166) !important;
  scale: 1.1 !important
}
.glow-on-hover:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}